
<h1>Post.</h1>

<form action='/post' method='post'>
	<input type='text' name='title' placeholder='title'><br>
	<input type='text' name='url' placeholder='url'><br>
	<textarea name="body" rows=3 cols=30 placeholder='Add a comment'></textarea><br>
	<input type='submit' value='Create your post'>
</form>
<% if current_post.errors.any? %>
	<p><%= current_post.errors.full_messages.to_sentence %></p>
<% end %>