
<% open_appointments.each do |appointment|%>
  <a class="btn btn-large btn-block btn-primary appt_book" data-appointmentid="<%= appointment.id %>" href="javascript:void(0)"><i class="icon-calendar icon-white"></i><%= appointment.start_at %></a>
<%end%>
