
<h3>You have had <span class="massage_count"><%= current_user.appt_count %></span> massages </h3>

<ul class="horizontal-slide">
<% appointments_by_day.each do |day| %>
  <li class="day">
    <div>
      <h3 class="day_label"><%= day.first.start_date.strftime("%A, %-m/%d") %></h3 class="day_label">
     <% day.each do |appointment| %>
     <a class="btn btn-large btn-block btn-default appt_book" data-appointmentid="<%= appointment.id %>" href="javascript:void(0)"><i class="icon-calendar"></i>    <%= appointment.start_at %></a>
    <% end %>
    </div>
  </li>
<% end %>

</ul>
