<h1>Welcome to Reddit I mean Hacker News!</h1>
<h3>Here are <%= @user.first_name %>'s comments</h3>

<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <p><a href='/posts/<%= comment.post.id %>'><%= comment.text %></a></p>
  <% end %>
<% else %>
  <h4>No comments to show</h4>
<% end %>