<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="shortcut icon" type="image/ico" href="../../favicon.ico">
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen"
 href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css"> 

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Shiatsu</a>
      <ul class="nav pull-right">
        <% if current_user %>
          <% if current_user.type == "Patient" %>
            <li><a href="/appointments">Book an Appointment</a></li>
            <li><a href="#">Profile</a></li>
            <!-- <li><a href="/sessions/logout">Log Out</a></li> -->
          <% elsif current_user.type == "Therapist" %>
            <li><a href="#">Profile</a></li>
            <li><a href="/users/<%= current_user.id %>/appointments/new">Create Appointments</a></li>
            <!-- <li><a href="/sessions/logout">Log Out</a></li> -->
          <% end %>
            <li><a href="/sessions/logout">Log Out</a></li> 
        <% else %>
          <li><a href="/sessions/new">Login/Sign-up</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="wrap">
    <div id="main" class="container clear-top">
      <%= yield %>
    </div>
  </div>
  <footer class="footer">
  <p>Made in San Francisco by Zassmin, Eric, Daniel and Mitch</p>
  </footer>
</body>
</html>
