<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Head Back Home</a>

    </div>
  </div>
  <div class="container">

		<div>
			<h1 class="text-center ">GET OUT OF MY HOUSE</h1>

      <div class="not_found">
        <p >Sorry, we couldn't find your page.  Sinatra would ask you to try this in your route:</p>
        <pre>get <%= @request %> do<br>  "Hello World!"<br>end
        </pre>
      </div>

			<!-- To autoplay, add the autoplay attribute :) -->
			<audio class="not_found" src="../../Cole.mp3" controls></audio>

			<img class="not_found" src="../../dl.gif">
      
		</div>
  </div>
</body>

</html>

	<!-- http://i.imgur.com/yiXmbVJ.png -->