<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h1>

<p>
  <a href="posts"><%= @user.first_name %>'s posts</a>
</p>
<p>
  <a href="comments"><%= @user.first_name %>'s comments</a>
</p>